# sphinx <4 required by myst-nb v0.12.0 (Feb 2021)
# sphinx >=3 required by sphinx-autodoc-typehints v1.11.1 (Oct 2020)
Jinja2 < 3.1
sphinx >=3, <4
sphinx_rtd_theme
sphinx-autodoc-typehints
myst-nb
nbmerge
nbsphinx == 0.8.6
recommonmark
# Packages used for CI tests.
pytest
pytest-xdist
#jupytext
# Packages used for notebook execution
matplotlib
#.  # install emlp itself from current directory.
